.formSignIn {

}

.title {
  margin-bottom: 40px;
  font: var(--font_2);
  color: var(--dark);
  text-align: center;
}

.wrap {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 32px;
  margin-bottom: 170px;
}

.list {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
}

.ButtonToSignIn {
  margin-top: 14px;
  font: var(--font_6);
  color: var(--blue-100);
}