<main class="main">
    <ul class="main__list">
        <li class="main__list-item">
            {{{page1}}}
        </li>
        <li class="main__list-item">
            {{{page2}}}
        </li>
    </ul>
</main>