<ul class="profile-data-inputs">
    {{#each inputs}}
        <li class="profile-data-inputs__item">
            <p class="profile-data-inputs__text">{{text}}</p>
            {{{input}}}
        </li>
    {{/each}}
</ul>