<section class="profile-data">
    {{{profileDataInputs}}}

    <ul class="profile-data__list">
        {{#each profileDataList}}
            <li class="profile-data__item">
                {{{button}}}
            </li>
        {{/each}}
    </ul>
</section>