<section class="error">
    <div class="error__body">
        <h2 class="error__title">{{error}}</h2>
        <p class="error__text">{{text}}</p>
        <a class="error__link" href="{{href}}">Назад к чатам</a>
    </div>
</section>