<section class="signIn">
    <div class="signIn__body">
        <form class="signIn__form" id="signIn__form-id">
            <h2 class="signIn__title">Вход</h2>

            <div class="signIn__wrap">

            </div>

            <ul class="signIn__list">
                <li>
                </li>

                <li>
                    <button class="signIn__ButtonTo" id="signIn__ButtonTo-id" type="button">
                        Нет аккаунта?
                    </button>
                </li>
            </ul>
        </form>
    </div>
</section>