:root {
  --dark: #1E1E1E;
  --grey-100: #8D8D8D;
  --grey-90: #999;
  --grey-80: #EFEFEF;
  --grey-70: #FBFBFB;
  --white: #ffffff;
  --blue-100: #3369F3;
  --blue-95: #84b2ff;
  --blue-90: #E4EDFD;
  --error: #FF2F2F;
}