@font-face {
  font-family: Inter-Medium;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/Inter-Medium.woff2") format("woff2"),
  url("./../fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: Inter-SemiBold;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/Inter-SemiBold.woff2") format("woff2"),
  url("./../fonts/Inter-SemiBold.woff") format("woff");
}

:root {
  --font_1: 40px/1 "Inter-Medium";
  --font_2: 20px/1 "Inter-Medium";
  --font_3: 16px/1 "Inter-SemiBold";
  --font_3_1: 15px/1.2 "Inter-SemiBold";
  --font_4: 13px/1 "Inter-Medium";
  --font_5: 12px/1 "Inter-Medium";
  --font_5_1: 12px/1.3 "Inter-Medium";
  --font_6: 11px/1 "Inter-Medium";
  --font_7: 9px/1 "Inter-Medium";
  --font_8: 8px/1 "Inter-Medium";
}