.card-body {
  max-width: 340px;
  width: 100%;
  margin: auto;
  padding: 50px 30px 30px;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);

  &__form {

  }

  &__title {
    margin-bottom: 40px;
    font: var(--font_2);
    color: var(--dark);
    text-align: center;
  }

  &__wrap {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 32px;
    margin-bottom: 48px;

    &--margin {
      margin-bottom: 170px;
    }
  }

  &__list {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
  }

  &__button-to {
    margin-top: 14px;
    font: var(--font_6);
    color: var(--blue-100);
  }
}
